<div class="jumbotron" layout-padding="">


<div layout="row" layout-align="space-around center" class="ng-scope layout-row layout-align-space-around-center">
  <div>
    <md-button href="javascript:;" class="link-file">
      <ng-md-icon icon="folder" size="100" class="grid-file"></ng-md-icon>
      <md-tooltip>
        Photos
      </md-tooltip>
      <p class="md-caption name-file">文件夹名称</p>
    </md-button>
  </div>
  <div>
    <md-button href="javascript:;" class="link-file">
      <ng-md-icon icon="folder" size="100" class="grid-file"></ng-md-icon>
      <p class="md-caption name-file">文件夹名称</p>
    </md-button>
  </div>
  <div>
    <md-button href="javascript:;" class="link-file">
      <ng-md-icon icon="folder" size="100" class="grid-file"></ng-md-icon>
      <p class="md-caption name-file">文件夹名称</p>
    </md-button>
  </div>
  <div>
    <md-button href="javascript:;" class="link-file">
      <ng-md-icon icon="folder" size="100" class="grid-file"></ng-md-icon>
      <p class="md-caption name-file">文件夹名称</p>
    </md-button>
  </div>
  <div>
    <md-button href="javascript:;" class="link-file">
      <ng-md-icon icon="folder" size="100" class="grid-file"></ng-md-icon>
      <p class="md-caption name-file">文件夹名称</p>
    </md-button>
  </div>
  <div>
    <md-button href="javascript:;" class="link-file">
      <ng-md-icon icon="folder" size="100" class="grid-file"></ng-md-icon>
      <p class="md-caption name-file">文件夹名称</p>
    </md-button>
  </div>
</div>


<div layout="row" layout-align="space-around center" class="ng-scope layout-row layout-align-space-around-center">
  <div>
    <md-button href="javascript:;" class="link-file">
      <ng-md-icon icon="folder" size="100" class="grid-file"></ng-md-icon>
      <p class="md-caption name-file">文件夹名称</p>
    </md-button>
  </div>
  <div>
    <md-button href="javascript:;" class="link-file">
      <ng-md-icon icon="folder" size="100" class="grid-file"></ng-md-icon>
      <p class="md-caption name-file">文件夹名称</p>
    </md-button>
  </div>
  <div>
    <md-button href="javascript:;" class="link-file">
      <ng-md-icon icon="folder" size="100" class="grid-file"></ng-md-icon>
      <p class="md-caption name-file">文件夹名称</p>
    </md-button>
  </div>
  <div>
    <md-button href="javascript:;" class="link-file">
      <ng-md-icon icon="folder" size="100" class="grid-file"></ng-md-icon>
      <p class="md-caption name-file">文件夹名称</p>
    </md-button>
  </div>
  <div>
    <md-button href="javascript:;" class="link-file">
      <ng-md-icon icon="folder" size="100" class="grid-file"></ng-md-icon>
      <p class="md-caption name-file">文件夹名称</p>
    </md-button>
  </div>
  <div>
    <md-button href="javascript:;" class="link-file">
      <ng-md-icon icon="folder" size="100" class="grid-file"></ng-md-icon>
      <p class="md-caption name-file">文件夹名称</p>
    </md-button>
  </div>
</div>

<div layout="row" layout-align="start center" class="ng-scope layout-row layout-align-start-center">
  <div flex=20>
    <md-button href="javascript:;" class="link-file">
      <ng-md-icon icon="folder" size="100" class="grid-file"></ng-md-icon>
      <p class="md-caption name-file">文件夹名称</p>
    </md-button>
  </div>
  <div flex=20>
    <md-button href="javascript:;" class="link-file">
      <ng-md-icon icon="folder" size="100" class="grid-file"></ng-md-icon>
      <p class="md-caption name-file">文件夹名称</p>
    </md-button>
  </div>
</div>

</div>
